# fly secrets set -c deploy/fly-streamlit.toml --env-file deploy/fly-secrets-streamlit.env

SUPABASE_URL=https://cafomnrnrniqigzvbhho.supabase.co
SUPABASE_ANON_KEY=
AUTH_WEB_URL=https://ali-al-baker-api.fly.dev
STREAMLIT_URL=https://ali-al-baker-streamlit.fly.dev
MASTER_WORKBOOK_BUCKET=accounting-master
DOCUMENTS_BUCKET=accounting-documents
